<div>
    <div class="portlet box red portlet-mg0 ">
        <div class="portlet-title" style="min-height: 36px">
            <div class="caption" style="padding: 8px 0 6px;">字典内容</div>
            <div class="tools" style="padding: 10px 0 5px;">
                <i class="fa fa-close big-icon" ng-click="cancel()"></i>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form">
                <div class="form-body" style="padding:40px 20px 0 20px">
                    <div class="form-group">
                        <label class="col-md-3 control-label">字典类型</label>
                        <div class="col-md-8">
                            <input class="form-control" ng-model="dictType" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">字典类型</label>
                        <div class="col-md-8">
                            <table class="dict-table">
                                <tr ng-repeat="li in params">
                                    <td style="width: 33%"><input class="form-control" ng-model="li.value"  ng-disabled="li.edit=='0'"/></td>
                                    <td style="width:33%;"><input class="form-control" ng-model="li.name" ng-disabled="li.edit=='0'"/></td>
                                    <td style="text-align: right;" ng-if="li.edit=='0'">
                                        <span ng-click="editDict($index)">编辑</span>&nbsp;&nbsp;
                                        <span ng-click="delDict($index)">删除</span></td>
                                    <td style="text-align: right;" ng-if="li.edit=='1'">
                                        <span ng-click="doedit($index)">确认</span>&nbsp;&nbsp;
                                        <span ng-click="quitedit($index)">取消</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-foot">
                    <button class="btn default cancel" ng-click="cancel()">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>