
<div class="main">
    <div class="nav" ng-if="select">
        <div class="form-group 1col-xs-3 col-md-3 col-lg-3">
            <span class="btn glyphicon glyphicon-chevron-left" ng-click="nextMonth(-1)"></span>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3">
            年份：
            <select  ng-model="selectDate.year_selected"  ng-options="year for year in dateList.yearList" ng-value="year" ng-selected="selectDate.year_selected==year" >
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3">
            月份：
            <select  ng-model="selectDate.month_selected" ng-options="month for month in dateList.monthList" ng-selected="selectDate.month_selected==month">
            </select>
        </div>
        <div class="form-group col-xs-3 col-md-3 col-lg-3">
            <span class="btn glyphicon glyphicon-chevron-right" ng-click="nextMonth(1)"></span>
        </div>
    </div>
    <div class="title">
        <ul>
            <li>星期日</li>
            <li>星期一</li>
            <li>星期二</li>
            <li>星期三</li>
            <li>星期四</li>
            <li>星期五</li>
            <li>星期六</li>
        </ul>
    </div>
    <div class="body">
        <ul style="overflow: hidden">
            <li ng-repeat="li in caledays" ng-style="{visibility:li.solarDay==0?'hidden':'visible'}" ng-class="{'range':!li.selected,'range-selected':li.selected}" ng-click="getalink(li)">
                <a ng-bind="li.solarDay" ng-style="{color:li.holiday?'red':'#0C52D1'}"></a>

                <p ng-bind="li.chineseDay" ng-if="li.jieqi==''"></p>

                <p ng-bind="li.jieqi" ng-if="li.jieqi" style="color: rgb(50,205,50);"></p>
            </li>
        </ul>
    </div>
</div>
<script type="text/ng-template" id="dateAdmin.html">
    <div class="portlet box red portlet-mg0 ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>工作日设置
            </div>
            <div class="tools">
                <i class="fa fa-close" ng-click="cancel()"></i>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">名称：</label>
                        <div class="col-md-8">
                            <input type="text"  class="form-control" ng-model="name"
                                   placeholder="请输入名称"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">描述：</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="description"
                                   placeholder="请输入描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span>类型：</span></label>
                        <div class="col-md-8 type">
                            <input type="radio" ng-model="holiday" value="0" name="holiday">节假日且放假
                            <input type="radio" ng-model="holiday" value="1" name="holiday">节假日且不放假
                            <input type="radio" ng-model="holiday" value="2" name="holiday">非节假日且不放假
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span>规则：</span></label>
                        <div class="col-md-8 type">
                            <input type="radio" ng-model="ruleType" value="0" name="rule">阳历年月日
                            <input type="radio" ng-model="ruleType" value="1" name="rule">阳历月日
                            <input type="radio" ng-model="ruleType" value="2" name="rule" >阴历年月日
                            <input type="radio" ng-model="ruleType" value="3" name="rule">阴历月日
                        </div>
                    </div>
                    <div>
                        <table class="table calendar-table table-bordered">
                            <thead>
                            <tr class="table-title1">
                                <th class="text-center">名字</th>
                                <th class="text-center">规则</th>
                                <th class="text-center">工作日</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="li in params">
                                <td>{{li.name}}</td>
                                <td>{{li.ruleType|ruleTypeFilter}}</td>
                                <td>{{li.holiday|holidayFilter}}</td>
                                <td style="text-align: center!important;"><i class="glyphicon glyphicon-trash" ng-click="delrules(li.id)"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="calendar-modal">
                    <div class="form-actions right1">
                        <button type="button" class="btn green" ng-click="ok()">提交</button>
                        <button type="submit" class="btn default" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</script>